
html {
}



.nav-div {
	font-family: 'Arial';
	width: 100%;
	position: fixed;
	transition: top .05s ease-in-out;
	top: 0;
	overflow: hidden;
	z-index: 100;
}

.nav-div .button-wrap {
	width: 20%;
	float: left;
	text-align: center;
	line-height: 3em;
	top: 0;
	display: block;
	color: white;
	cursor: pointer;
}

.nav-div .button-wrap:hover {
	background-color: rgba(40,40,40,.7);
	z-index: 200;
}

.nav-up {
	top: -50px;
}

.nav-down {	
	width: 100%;
	position: fixed;
	transition: top 0.15s ease-in-out;
	top: 0;	
}

.opacity {
	opacity: .7;
	filter:alpha(opacity=70);  
    -moz-opacity:0.7; 
}

.transp {
	position: absolute;
	background-color: rgba(0,0,0,1);
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section-div {
	height: 50em;
	width: 100%;
/*	border-width: 0 0 5px 0;
	border-color: black;
	border-style: solid;*/
	overflow: hidden;
}

.section-title {
	font-family: 'Sarpanch', sans-serif;
	text-align: center;
	font-size: 3em;
	padding-top: 1em;
	color: #fdb200;
	z-index: 30;

}

#rotate-down {
	text-shadow: 12px -7px 8px black;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	display: block;
}

#rotate-up {
	text-shadow: -12px 7px 8px black;
	transform: rotate(0deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: block;
	position: relative;
	left: -9px;
	top: 8px;
}

.content {
	overflow: hidden;
}


.home-section {
	display: block;
	text-align: center;
	overflow: hidden;
	position: relative;
	box-shadow: 0 10px 10px black;
}

.home-section .home-background {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../images/building.jpg");
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1);
	transition: all 1.6s ease-in;
	overflow: hidden;
	z-index: -1;
}

.home-background.zoomout {
	transform: scale(1) translate(-40, 30px);
}

.home-background.zoomin {
	transform: scale(1.12) translate(40px, -30px);
}

#home-texture-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../images/dark-tire.png");
	background-repeat: repeat;
	z-index: 3;
}

.home-section .banner {
	width: 15em;
	height: 50%;
	background-color: rgba(47,47,47,1);
	position: relative;
/*	left: 40%;
*/	margin: 0 auto;
	border: none;
	display: block;
	z-index: 5;
}

#sub-banner {
	width: 15em;
	border: none;
	background-color: rgba(20, 20, 20, .7);
	display: block;
	position: relative;
/*	left: 40%;
*//*	top: 50%;
*/	margin: 0 auto;
	z-index: 5;
	height: 35em;
}


.home-section h1 {
	padding-top: 5em;
	font-size: 2em;
	margin: auto;
	color: #fdb200;
}

.banner h1 {
	position: relative;
	top: -120px;
	left: 15px;
}

.home-section #initials {
	font-family: 'Orbitron', sans-serif;
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: block;
	font-size: 2em;
	color: #fdb200;
/*	font-family: 'Sarpanch', sans-serif;
*/	/*font-weight: 800;*/
	position: relative;
	left: -5px;
}

#initials-bracket-open {
	font-family: 'Orbitron', sans-serif;
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	display: block;
	font-size: 3em;
	color: #fdb200;
	font-family: 'Sarpanch', sans-serif;
	font-weight: 200;
	padding: 5px;
}

#initials-bracket-close {
		font-family: 'Orbitron', sans-serif;

	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: block;
	font-size: 3em;
	color: #fdb200;
	font-family: 'Sarpanch', sans-serif;
	font-weight: 200;
	padding: 5px;
}

.banner #web-dev {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	left: 5px;
	margin: 0 auto;
	position: relative;
	top: -6.5em;
	text-shadow: 2px 6px 8px black;
	z-index: 50;
	font-size: 1em;
/*	font-weight: 600;
*/}


.home-section #bracket-close {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: block;
	font-size: 4em;
	color: #fdb200;
}

.about-section {
	position: relative;
	box-shadow: 0 20px 20px #888888;
}

#about-text-title {
	z-index: 30;
	position: relative;
	text-shadow: 2px 2px 8px black;
}

.about-section-background {
/*	background-color: rgba(50,50,50,1);
*/	background-color: white;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

/*#about-texture-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../images/black-twill.png");
	background-repeat: repeat;
	border: 0;
	z-index: 0;
}
*/
.about-section .about-text-box {
	line-height: 1.5em;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	z-index: 10;
	opacity: 1;
	font-size: 2em;
	margin: 3em auto;
/*	width: 12em;
*/	position: relative;
/*	left: 3em;
*/
	box-shadow: 10px 10px 10px gray;
	background-color: black;
	width: 11.5em;
	padding: .2em .1em .2em .3em;
}

.about-text-box p {
	position: relative;
/*	left: 20%;
*/}

.about-text-box .ul {
/*	left: 19%;
*/	position: relative;
	font-size: 1em;
	text-shadow: 2px 2px 8px black;
}

.li-content {
/*	padding: 0 20px;
*/}
/*
.ul #carrot-color {
	color: #7cf955;
}*/

 .carrot-color {
	color: #fdb200;

/*	color: #7cf955;	
*/
}


.about-text-box p {
	text-indent: .5em;
}

.background-land {
	background-color: gray;
	width: 100%;
	height: 480px;
	z-index: -100;
	overflow: none;
	position: relative;
	top: -100px;
}

#icon {
	font-size: 14em;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
	margin: .5em auto;
	width: 1em;
}

#icon:hover {
	color: gray;
	text-decoration: none;
}

.ruby-bar {
/*	box-shadow: 10px 10px 5px #888888;
*/	display: block;
	width: 10%;
	height: 150px;
	background-color: rgba(224, 224, 224, 1);
	position: relative;
	left: 69%;
	margin-top: 170px;
	z-index: -1;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;
	z-index: -1;
}

.ruby {
	font-size: 2em;
	margin-top: 20px;
}

.js-bar {
	box-shadow: 10px 10px 5px #888888;
	background-color: rgba(224, 224, 224, 1);
	display: block;
	width: 15%;
	height: 240px;
	background-color: black;
	position: relative;
	left: 73%;
	top: -212px;
	z-index: -2;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;	
}

.js {
	font-size: 2.5em;
	padding-top: 10px;
}

.css-bar {
	box-shadow: -10px 10px 5px #888888;
	display: block;
	width: 11%;
	height: 400px;
/*	background-color: rgba(96, 96, 96, 1);
*/	background-color: rgba(160, 160, 160, 1);
	position: relative;
	left: 17%;
	top: -500px;
	z-index: -3;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;		
}

.css {
	padding: 10px;
}

.jquery-bar {
	box-shadow: -10px 10px 5px #888888;
	display: block;
	width: 8%;
	height: 330px;
/*	background-color: rgba(160, 160, 160, 1);
*/	background-color: black;
	position: relative;
	left: 22%;
	top: -848px;
	z-index: -3;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;	
}

.jquery {
	padding: 10px;
}

.html-bar {
	box-shadow: -10px 10px 5px #888888;
	display: block;
	width: 15%;
	height: 500px;
/*	background-color: rgba(64, 64, 64, 1);
*/	background-color: rgba(224, 224, 224, 1);
	position: relative;
	left: 6%;
	top: -1350px;
	z-index: -4;
	color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	text-align: center;		
}

.html {
	padding: 5px;
}


.work-section {
	box-shadow: 0 16px 20px #888888;
}

.milano-section {
/*	background-image: url('../images/three-frames.jpg');
*/	background-size: 88em;
	background-position: 0 1.7em;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
}

.hanger-1 {
	box-shadow: -10px 10px 5px #888888;

	width: 2px;
	height: 12em;
	background-color: gray;
	display: block;
	position: absolute;
	left: 15em;
	top: 5em;
}
.hanger-2 {
	box-shadow: -10px 10px 5px #888888;

	width: 2px;
	height: 12em;
	background-color: gray;
	display: block;
	position: absolute;
	left: 26em;
	top: 5em;
}

.clip {
	display: block;
	width: 10px;
	height: 10px;
	background-color: black;
}

.clip-1 {
	position: absolute;
	margin-left: 3em;
}

.milano-img {
	box-shadow: -10px 10px 5px #888888;
	width: 17.2em;
	height: 23.3em;
	background-image: url('../images/Milano.jpg');
	background-size: 17.4em;
	background-repeat: no-repeat;
	background-position: -2px -110px;
	margin-left: 11.9em;
	margin-top: 16.8em;
	background-color: gray;
	position: relative;
}

.content .contact-section {
	background-image: url("../images/satellite.jpg");
	background-repeat: no-repeat;
	/*background-size: 130%;*/
	background-size: 96em;
	/*background-position: -150px -20px;*/
	background-position: -110px -90px;
	position: relative;
	overflow: hidden;
}

/*.contact-wrapper {
	height: 90%;
	width: 80%;
	margin-left: 20%;
	background-color: white;
	position: relative;
	overflow: hidden;
	opacity: .8;
}*/

#email {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fdb200;
	font-size: 3em;
	position: absolute;
	top: 135px;
	left: 640px;
	display: block;
	transform: rotate(-60deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	background-color: black;
	padding: 0 4px 8px 4px;
}

#resume {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3em;
	position: absolute;
	top: 450px;
	left: 950px;
/*	display: block;
*/	transform: rotate(-60deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

#resume a {
	color: #fdb200;
	text-decoration: none;
	background-color: black;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 1em;
	padding: 5px;
}

#resume a:hover {
	background-color: #fdb200;
	color: black;
 
}

.circle-large {
	width: 100px;
	height: 100px;
	background: #fdb200;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
	position: absolute;
	margin-left: 56em;
	top: 28em;
}

.circle-small {
/*	box-shadow: -10px 10px 5px #888888;
*/	width: 50px;
	height: 50px;
	background: #fdb200;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	position: absolute;
	left: 62em;
	top: 25em;
}





