
html {
}


#icon {
	font-size: 14em;
	text-align: center;
	text-decoration: none;
	color: black;
	display: block;
	margin: .3em auto;
	width: 1em;
}

#icon:hover {
	color: gray;
	text-decoration: none;
}

.nav-div {
	font-family: 'Arial';
	width: 100%;
	position: fixed;
	transition: top .05s ease-in-out;
	top: 0;
	overflow: hidden;
	z-index: 100;
}

.nav-div .button-wrap {
	width: 20%;
	float: left;
	text-align: center;
	line-height: 3em;
	top: 0;
	display: block;
	color: white;
	cursor: pointer;
}

.nav-div .button-wrap:hover {
	background-color: rgba(40,40,40,.7);
	z-index: 200;
}

.nav-up {
	top: -50px;
}

.nav-down {	
	width: 100%;
	position: fixed;
	transition: top 0.15s ease-in-out;
	top: 0;	
}

.opacity {
	opacity: .7;
	filter:alpha(opacity=70);  
    -moz-opacity:0.7; 
}

.transp {
	position: absolute;
	background-color: rgba(0,0,0,1);
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.section-div {
	height: 62em;
	width: 100%;
	border-width: 0 0 10px 0;
	border-color: black;
	border-style: solid;
}

.section-title {
	font-family: 'Sarpanch', sans-serif;
	text-align: center;
	font-size: 4em;
	padding-top: 1em;
	color: #fdb200;
	z-index: 30;

}

#rotate-down {
	transform: rotate(90deg);
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	display: block;
}

#rotate-up {
	transform: rotate(0deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: block;
	position: relative;
	left: -8px;
}


/*.content div {
	height: 62em;
	width: 100%;
	border-width: 0 0 10px 0;
	border-color: black;
	border-style: solid;
}*/

.home-section {
	display: block;
	text-align: center;
	overflow: hidden;
/*	background-image: url("../images/blurr-lights.jpg");
	background-size: cover;
	background-repeat: no-repeat;*/
	position: relative;
/*	transform: scale(1);
	transition: all 4s ease-in;*/
}

.home-section .home-background {
	width: 100%;
	height: 100%;
	position: absolute;
	background-image: url("../images/building.jpg");
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;
	transform: scale(1);
	transition: all 1.6s ease-in;
	overflow: hidden;
	z-index: -1;
}

.home-background.zoomout {
	transform: scale(1) translate(-40, 30px);
}

.home-background.zoomin {
	transform: scale(1.12) translate(40px, -30px);
}

#home-texture-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../images/dark-tire.png");
	background-repeat: repeat;
	z-index: 3;
}

.home-section .banner {
	width: 20em;
	height: 50%;
	background-color: rgba(47,47,47,1);
	position: absolute;
	left: 40%;
	border: none;
	display: block;
	z-index: 5;
}

#sub-banner {
	width: 20em;
	border: none;
	background-color: rgba(20, 20, 20, .7);
	display: block;
	position: absolute;
	left: 40%;
	top: 50%;
	z-index: 5;
	height: 35em;
}


.home-section h1 {
	padding-top: 5em;
	font-size: 2em;
	margin: auto;
	color: #fdb200;
}

.home-section #logo {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: block;
	font-size: 3em;
	color: #fdb200;
	font-family: 'Sarpanch', sans-serif;
	font-weight: 800;
}

.banner #web-dev {
	font-family: 'Open Sans Condensed', sans-serif;
	color: white;
	left: 5px;
	margin: 0 auto;
	position: relative;
	top: 8.5em;
}


.home-section #bracket-close {
	transform: rotate(-90deg);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	display: block;
	font-size: 4em;
	color: #fdb200;
}

.about-section {
/*	text-align: center;
*/	position: relative;

}

#about-text-title {
	z-index: 30;
	position: relative;
}

.about-section-background {
	background-color: rgba(50,50,50,1);
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: -1;
}

#about-texture-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	background-image: url("../images/black-twill.png");
	background-repeat: repeat;
	border: 0;
	z-index: 0;
}

.about-section .about-text-box {
	line-height: 1.5em;
	color: white;
	font-family: 'Open Sans Condensed', sans-serif;
	z-index: 10;
	opacity: 1;
	font-size: 3em;
	margin: 0 auto;
/*	width: 12em;
*/	position: relative;
	left: 4em;
}

.about-text-box p {
	position: relative;
	left: 20%;
}

.about-text-box .ul {
	left: 10%;
	position: relative;
	font-size: 2em;
}
/*
.ul #carrot-color {
	color: #7cf955;
}*/

 .carrot-color {
	color: #7cf955;	
}

.about-text-box p {
	text-indent: 1em;
}


.work-section img {
	display: block;
	margin: 7em auto;
}


#work-section-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	border: 0;
}

.content .contact-section {
	background-image: url("../images/satellite.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	overflow: hidden;
}

#email {
	font-family: 'Open Sans Condensed', sans-serif;
	color: #fdb200;
	font-size: 3em;
	position: absolute;
	top: 220px;
	left: 800px;
	display: block;
	transform: rotate(-60deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
}

.circle {
	width: 100px;
	height: 100px;
	background: red;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}



